/* src/assets/css/fonts.css */
@font-face {
  font-family: 'Roboto Flex';
  src: url('../../fonts/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf') format('truetype');
  font-display: swap;
}
